.header-footer-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.title {
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: 700;
  line-height: 130px;
  letter-spacing: 30px;
}

.subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-subtitle {
  padding-left: 40px;
  padding-bottom: 27px;
}

.about-subtitle {
  padding-bottom: 100px;
}

.content-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.more-lots {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

.description-text {
  align-self: center;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.link-text {
  color: black;
  text-decoration: none;
}

.text-accent {
  text-decoration: underline;
}

.button-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "nav logo address";
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__nav {
  grid-area: nav;
}

.header__nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style-type: circle;
}

.nav__list li:first-child {
  list-style: none;
}

.dark-logo {
  grid-area: logo;
  width: 135px;
  height: 105px;
}

.header__address {
  grid-area: address;
  justify-self: end;
  max-width: 240px;
}

.address-paragraph {
  display: inline;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: space-between;
  padding-top: 106px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 2px white solid;
  box-shadow: none;
  color: white;
  font-size:  22px;
  text-transform: uppercase;
  background: none;
}

.left-text {
  display: block;
  justify-self:flex-start;
  max-width: 286px;
}

.center-text {
  display: block;
  justify-self: center;
  align-self: center;
  max-width: 339px;
}

.right-text {
  display: block;
  justify-self: flex-end;
  align-self: self-end;
  max-width: 387px;
}

.lots {
  padding: 180px 24px 120px;
}

.lots__list {
  display: flex;
  gap: 25px;
}

.lot {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 334px;
  height: 596px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: -1;
}

.lot__title {
  padding: 48px 40px 0;
  align-self: self-start;
  justify-self: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
}

.lot__description {
  padding: 0 40px 48px;
  align-self: self-end;
  justify-self: center;
}

.first-lot {
  background-image: url('../images/card-lot-01.jpg');
  z-index: 0;
}

.second-lot {
  background-image: url('../images/card-lot-02.jpg');
  z-index: 0;
}

.third-lot {
  background-image: url('../images/card-lot-03.jpg');
  z-index: 0;
}

.about {
  position: relative;
  padding: 35px 24px 180px;
}

.circle {
  position: absolute;
  left: 71px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.light-logo {
  position: absolute;
  top: 99px;
  left: 117.48px;
  width: 148px;
  height: 114px;
}

.right-column {
  padding-left: 359px;
  padding-top: 98px;
}

.about-first-abstract {
  padding-bottom: 24px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px 82px;
}

.footer__address {
  display: block;
  justify-self: start;
  max-width: 240px;
}

.footer__nav {
  display: block;
}


.footer__nav__list {
  display: block;
  list-style-type: none;
  text-align: center;
}

.social-media {
  display: flex;
  gap: 48px;
}

.social-media__logo {
  width: 48px;
  height: 48px;
}


.light-text {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

